* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    color: #fff;
    box-sizing: border-box;
}

html, body {
    background-color: #555;
}

:root {
    --green: #779556;
    --white: #ebecd0;
    --black: #111;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
        aspect-ratio: 1;
        max-height: 80vh;
        width: 80vh;
        max-width: 80vw;
        border: 4px solid var(--black);
        background-color: var(--black);
        position: relative;

        td {
            border: 2px solid var(--black);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        
        tr:nth-child(odd) td:nth-child(even) {
            background-color: var(--green);
        }
        
        tr:nth-child(odd) td:nth-child(odd) {
            background-color: var(--white);
        }
        
        tr:nth-child(even) td:nth-child(odd) {
            background-color: var(--green);
        }
        
        tr:nth-child(even) td:nth-child(even) {
            background-color: var(--white);
        }
    }
    
    .buttons {
        display: flex;
        width: 80vh;
        flex-grow: 0.75;
        max-width: 80vw;
        max-height: 15vh;

        button {
            flex-grow: 1;
            border: 4px solid var(--black);
            background-color: #333;
            cursor: pointer;
            font-size: 1.5rem;
            overflow: hidden;
        }

        button.resetBoard {
            flex-grow: 5;
        }

        button:hover {
            filter: brightness(0.9);
        }
    }

    @media screen and (width <= 500px) {
        .buttons {
            flex-direction: column;
            max-height: 10vh;

            button.resetBoard {
                flex-grow: 1;
            }
        }
    }

    div {
        position: relative;

        .promotion {
            display: none;
            border: 4px solid var(--black);
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 50%;
            height: 12.5%;
            box-sizing: content-box;
            
            div {
                /* flex-grow: 1; */
                width: 25%;
                border: 4px solid var(--black);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                cursor: pointer;
                aspect-ratio: 1;
                /* width: 9vw; */
                /* max-width: 11vw; */
                /* max-height: 11vh; */
            }
    
            div:hover {
                filter: brightness(0.8);
            }
            
            div:nth-child(odd) {
                background-color: var(--white);
            }
    
            div:nth-child(even) {
                background-color: var(--green);
            }
        }

        .promotion.black {
            display: flex;
        }

        .promotion.white {
            display: flex;
        }
    }
}



.classic {
    .black.pawn   {background-image: url('../production/classicPieces/bp.png');}
    .black.rook   {background-image: url('../production/classicPieces/br.png');}
    .black.knight {background-image: url('../production/classicPieces/bn.png');}
    .black.bishop {background-image: url('../production/classicPieces/bb.png');}
    .black.king   {background-image: url('../production/classicPieces/bk.png');}
    .black.queen  {background-image: url('../production/classicPieces/bq.png');}
    
    .white.pawn   {background-image: url('../production/classicPieces/wp.png');}
    .white.rook   {background-image: url('../production/classicPieces/wr.png');}
    .white.knight {background-image: url('../production/classicPieces/wn.png');}
    .white.bishop {background-image: url('../production/classicPieces/wb.png');}
    .white.king   {background-image: url('../production/classicPieces/wk.png');}
    .white.queen  {background-image: url('../production/classicPieces/wq.png');}
}

.neo {
    .black.pawn   {background-image: url('../production/neoPieces/bp.png');}
    .black.rook   {background-image: url('../production/neoPieces/br.png');}
    .black.knight {background-image: url('../production/neoPieces/bn.png');}
    .black.bishop {background-image: url('../production/neoPieces/bb.png');}
    .black.king   {background-image: url('../production/neoPieces/bk.png');}
    .black.queen  {background-image: url('../production/neoPieces/bq.png');}
    
    .white.pawn   {background-image: url('../production/neoPieces/wp.png');}
    .white.rook   {background-image: url('../production/neoPieces/wr.png');}
    .white.knight {background-image: url('../production/neoPieces/wn.png');}
    .white.bishop {background-image: url('../production/neoPieces/wb.png');}
    .white.king   {background-image: url('../production/neoPieces/wk.png');}
    .white.queen  {background-image: url('../production/neoPieces/wq.png');}
}

.greyed {
    filter: opacity(0.9);
    position: relative;
}

.greyed::before {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 50%;
    display: block;
    top: 50%;
    left: 50%;
    background-color: var(--black);
    content: '';
    translate: -50% -50%;
    border-radius: 50%;
    opacity: 0.35;
}

.neo {
    .black .rook   {background-image: url('../production/neoPieces/br.png');}
    .black .knight {background-image: url('../production/neoPieces/bn.png');}
    .black .bishop {background-image: url('../production/neoPieces/bb.png');}
    .black .queen  {background-image: url('../production/neoPieces/bq.png');}
    .white .rook   {background-image: url('../production/neoPieces/wr.png');}
    .white .knight {background-image: url('../production/neoPieces/wn.png');}
    .white .bishop {background-image: url('../production/neoPieces/wb.png');}
    .white .queen  {background-image: url('../production/neoPieces/wq.png');}
}

.classic {
    .black .rook   {background-image: url('../production/classicPieces/br.png');}
    .black .knight {background-image: url('../production/classicPieces/bn.png');}
    .black .bishop {background-image: url('../production/classicPieces/bb.png');}
    .black .queen  {background-image: url('../production/classicPieces/bq.png');}
    .white .rook   {background-image: url('../production/classicPieces/wr.png');}
    .white .knight {background-image: url('../production/classicPieces/wn.png');}
    .white .bishop {background-image: url('../production/classicPieces/wb.png');}
    .white .queen  {background-image: url('../production/classicPieces/wq.png');}
}